- content_for :header do
  = partial 'pages/header'

- content_for :contact do
  = partial 'pages/contact'

.left
  %ul#gallery.jcarousel-skin-tango
    %li
      .gleft= image_tag 'sharespost.png', :alt => 'bob1', :title => 'bob1' 
      .gright
        %h2 SharesPost
        %p
          SharesPost is a Private Equity Stock Trading site.  It currently has over 
          %span.strong 20,000 
          members managing 
          %span.strong $125 Billion 
          in capital and growing.  There are over 3000 posts to buy
          or sell stock on over 150 listed companies.
        
        %p
          Sharespost has been featured on 
          %a{:href=>'http://sazbean.com/2009/12/22/sazbean-consulting-client-website-sharespost-featured-on-cnbc/'} CNBC 
          as well as in articles from 
          %span.strong The Wall Street Journal, 
          %span.strong LA Times,
          %span.strong Forbes, 
          %span.strong BusinessWeek 
          and 
          %span.strong Bloomberg 
          (
          %a{:href=>'http://www.sharespost.com/press'} click for more
          ) 
        %p
          Sazboom wrote this application in partnership with Bright House, Inc. in Ruby on Rails
        %p
          %a{:href=>'http://www.sharespost.com'}Visit SharesPost
    %li
      .gleft= image_tag 'sazbean.png'
      .gright
        %h2 Sazbean
        %p
          Sazbean is a Social Media and Marketing Blog started by Sarah Worsham.  Sarah is a Social 
          Media consultant for Small and Mid sized businesses looking to improve product 
          or service sales online. 
        %p                                                    
          This site has over 6,000 visitors and growing. 
        %p
          %a{:href=>'http://sazbean.com'}Visit Sazbean 
    %li
      .gleft= image_tag 'ruby-census.jpg' 
      .gright
        %h2 RubyCensus
        %p
          Every community needs to know a few basic facts about itself.  RubyCensus is the Ruby Community's 
          first attempt at gathering some information about who we are today and to track how we change over 
          time.
        %p  
          Our mission statement is to provide free research reports about the ruby community to the community.
        %p
          This site is written in the Sinatra framework and uses MongoDB as the persistence data model 
           
           
        %p
          %a{:href=>'http://sazbean.com'}Visit RubyCensus         
    %li
      .gleft
        = image_tag 'victorytek.png'
        %p
          %a{:href=>'http://sazbean.com'}Visit VictoryTek
      .gright
        %h2 VictoryTek
        %p
          We recently launched a new eCommerce site for VictoryTek™, who sells a relatively new product, electronic cigarettes, 
          as the first step in implementing the internet strategy we created for them. Not only a site 
          where customers can purchase products, VictoryTek's website also helps customers understand the 
          monetary and health benefits from smokeless cigarettes with the Your Big Money Victory & Your Big 
          Lifestyle Victory. Smoking is an addiction and gaining control requires a support system, so we also 
          created a 
          %a{:href=>'http://victory.victorytek.com/'} Ning social network for VictoryTek™ 
          so that users of the product can help each other "claim their victory." 
        %p
            
    %li
      .gleft= image_tag 'finished-basements-plus.png'
      .gright
        %h2 Finished Basements Plus
        %p
          Finished Basements Plus designs and creates unique basement living spaces. They needed a website which highlighted 
          their talent and showed off their work. Their new site emphasizes their designs with pictures 
          throughout, including an expanded, easier-to-use gallery of what they've done. Good design, 
          more content, a back-end content management system, and SEO best-practices have improved their 
          online presence. 
        %p
          %a{:href=>'http://sazbean.com'} Visit Finished Basements Plus       
.right
  %p
    Featured Projects
  %ul.jcarousel-controls
    %li
      %a{:href => '#', :page => 1} 
        .link_box SharesPost  
    %li
      %a{:href => '#', :page => 2}  
        .link_box Sazbean
    %li
      %a{:href => '#', :page => 3} 
        .link_box RubyCensus
    %li
      %a{:href => '#', :page => 4} 
        .link_box VictoryTek
    %li
      %a{:href => '#', :page => 5} 
        .link_box Finished Basements Plus 
  %p
    Projects in the Pipeline
  %ul.pipeline
    %li Got Ruby Skills?  
    %li How Are My Investments Doing Today?

   



