!!! Strict
%html
  %head
    %title= "SazBOOM"
    = stylesheet_link_tag 'application', 'tango/skin'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery.jcarousel','application','jquery.color'  
    = yield_content :include  
    = favicon_tag 'favicon.gif' 
  %body
    #wrapper 
      #nav  
        .left
          = partial 'layouts/nav'
        .middle          
          = image_tag('sazboom-logo-small.png')
        .right
          .round_box
            .img_right
              = image_tag 'we_know_ruby.png'
      = yield_content :header
      = yield_content :contact
      
      #container
        #main= yield
      #footer 
        .sponsor
          Proud lil' brother of
          = link_to 'Sazbean.com', 'http://sazbean.com' 
